@font-face {
  font-family: 'matrix';
  src: url('/assets/fonts/matrix.woff2') format('woff2'),
    url('/assets/fonts/matrix.woff2') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'trigram';
  src: url('/assets/fonts/trigram.woff2') format('woff2'),
    url('/assets/fonts/trigram.woff') format('woff');
  font-display: swap;
}

body {
  font-family: 'trigram', monospace;
  background-color: black;
  color: #00ff00;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90vh;
  margin: 0;
}

.hangman-title {
  font-size: 80px;
  font-family: 'matrix', monospace
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 400px;
  width: 90%;
  margin-bottom: 12rem;
}

.hangman-img {
  width: 260px;
}

.word-display {
  font-size: 24px;
  margin: 20px 0;
}

.letter-buttons {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-gap: 10px;
}

.btns {
  font-size: 20px;
  width: 70px;
  height: 40px;
  border: none;
  background-color: #00ff00;
  cursor: pointer;
  font-family: inherit;
  font-weight: bold;
}

.btns:hover{
  background-color: #51ff51;
}

.btns:disabled {
  background-color: gray;
  color: white;
  cursor: not-allowed;
  transition: 0.3s;
}

.btns:disabled:hover{
  background-color: gray;
}

button:focus {
  outline: none;
}

.user-score {
  background-color: black;
  border: 3px solid #00ff00;
  border-radius: 5px;
  margin-top: 30px;
  width: 40rem;
  height: 15rem;
}

.user-score-title {
  font-size: 20px;
  text-align: center;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 20px;
  margin: 20% auto;
  max-width: 300px;
  text-align: center;
  border-radius: 5px;
}

.modal-content-title {
  color: #ff0000;
}

.modal-btn {
  font-size: 18px;
  font-family: 'trigram', monospace ;
  height: 40px;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  background-color: #00ff00;
  color: #000000;
  cursor: pointer;
  transition: background-color 0.4s;
  transition: color 0.4s;
}

.modal-btn:disabled {
  background-color: #979797;
  color: #d3d0d0;
  cursor: not-allowed;
  transition: background-color 0.4s;
  transition: color 0.4s;
}

#startModal {
  display: flex;
  justify-content: center;
  align-items: center;
}

#playerName {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}

.hidden {
  display: none;
}

/* Responsive */

@media (max-width: 700px) {
  .letter-buttons {
    grid-template-columns: repeat(3, 1fr); 
  }

  .btns {
    width: 70px;
    height: 30px;
    font-size: 15px;
  }

  .hangman-title {
    font-size: 40px;
  }

  .user-score {
    width: 100%;
    height: 15rem;
    margin-bottom: 1rem;
  }
  
  .user-score-title {
    font-size: 15px;
    text-align: center;
  }
}