body {
  font-family:'Inconsolata', monospace;
  background-color: black;
  color: #00ff00;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 400px;
  width: 90%;
}

.hangman-ascii {
  font-family: monospace;
  font-size: 18px;
  margin-right: 5rem;
}

.word-display {
  font-size: 24px;
  margin: 20px 0;
}

.letter-buttons {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-gap: 10px;
}

.btns {
  font-size: 20px;
  width: 70px;
  height: 40px;
  border: none;
  background-color: #00ff00;
  cursor: pointer;
  font-family: inherit;
  font-weight: bold;
}

button:focus {
  outline: none;
}

/* Modals */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 20px;
  margin: 20% auto;
  max-width: 300px;
  text-align: center;
  border-radius: 5px;
}

.modal h2 {
  color: #ff0000;
}

.modal button {
  margin-top: 10px;
  background-color: #00ff00; 
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.modal-btn {
  font-size: 18px;
  height: 40px;
  border: none;
  background-color: #00ff00;
  cursor: pointer;
}


/* Responsive */
